@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.main {
  .genre_btn button{
    padding:0 5px;
    border-radius: 5px;
    outline: red;
    border: 1px solid rgb(1, 143, 112);
    background-color: #ffffff;
  }
  .active{
    background-color: rgb(1, 143, 112);
  }
  .genre_btn{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
  }
  .input {
    text-align: center;

    input {
      width: 600px;
      border-radius: 5px;
      padding: 5px;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.432);
      margin-top: 10px;
    }
  }

  .movies {
    font-family: 'Baloo 2', cursive;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    .movie {
      margin: 10px;
      padding: 5px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.397);

      .img {
        position: relative;

        .vote {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 10px;
          right: 10px;
          background-color: rgb(255, 255, 255);
          color: rgb(1, 143, 112);
          border-radius: 20px;
          width: 60px;
          font-size: 18px;

          i {
            margin: 0 5px;
            font-size: 18px;
            color: yellow;
          }
        }

        img {
          border-radius: 10px;
          width: 200px;
        }
      }

      .description {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 100px;

        .title {
          font-size: 20px;
        }

        .date {
          opacity: 0.6;
        }

        .over {
          display: none;
        }

        .btn {
          width: 100%;

          button {
            position: absolute;
            bottom: 0;
            border-radius: 10px;
            width: 100px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: cadetblue;
            color: #ffffff;
          }
        }
      }
    }
  }

  .load {
    width: 100%;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 0;
    background-color: rgb(27, 126, 129);
    color: #ffffff;
    border-radius: 10px;
  }
}

.paginate {
  display: flex;
  justify-content: center;
}
