<div class="main">
  <div class="input">
    <input type="text" [(ngModel)]='search' placeholder="find movie">
  </div>
    <div ngbDropdown class="d-inline-block">
      <div class="sort">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Sort</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" id="btn">
        <button ngbDropdownItem (click)='sortRate(1)'>Min Rate</button>
        <button ngbDropdownItem (click)='sortRate(0)'>Max Rate</button>
        <button ngbDropdownItem (click)='sortDate(1)'>Min Date</button>
        <button ngbDropdownItem (click)='sortDate(0)'>Max Date</button>
      </div>
      <input type="number" [value]='firstYear' [(ngModel)]='firstYear'>
      <input type="number" [value]='secondYear' [(ngModel)]='secondYear'>
      <button (click)='filterYear()'>Find</button>
      </div>
      <div class="movies">
        <div class="genre_btn">
          <div class="genre" *ngFor='let item of genre'>
          <button class="filter" (click)='filterGenre(item.id)'
            (click)='filterTootgle = !filterTootgle'>{{item.name}}</button>
        </div>
      </div>
      <div class="movie" *ngFor='let item of movieArray|find:search|slice:(page-1)*pageSize:page*pageSize'>
        <div class="img">
          <img [src]="item.image" alt="">
          <div class="vote">
            {{item.vote}}
            <i class="fas fa-star"></i>
          </div>
        </div>
        <div class="description">
          <div class="title">{{item.title}}</div>
          <div class="date">{{item.date|myDate}}</div>
          <div class="btn"><button [routerLink]="['/tv-detail',item.id]">Details</button></div>
        </div>
      </div>
    </div>
    <div class="paginate">
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true" [maxSize]="5"
        [collectionSize]="movieArray.length">
      </ngb-pagination>
    </div>
  </div>
