<h1>Tv Detail</h1>
<div class="main">
  <div class="top">
    <div class="image">
      <img [src]='image' alt="">
    </div>
    <div class="description">
      <div class="title">{{title}}</div>
        <div class="anoter">
          <div class="date">Date Release:<span> {{date}}</span></div>
          <div class="country">Country:<span> {{productionCoutry}}</span></div>
          <div class="company">Production Company:<span> {{productionCompany}}</span></div>
          <div class="homepage">Home Page: <span> <a [href]='homepage'>{{homepage}}</a></span></div>
          <div class="spoken">Spoken:<span> {{spoken}}</span></div>
          <div class="revenue" *ngIf='revenue > 0'>Revenue:<span> {{revenue}}$</span></div>
          <div class="vote">Vote: <span>{{vote}}</span></div>
          <div class="overvew">Overvew:<span> {{overview}}</span></div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <img [src]='backdrop' alt="">
    </div>
</div>
