.main{
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  .empty{
    width: 100px;
  }
  .movies{
    width: 100%;
    display: flex;
    .movie{
      margin: 5px;
      img{
        width: 200px;
      }
    }
  }
}
