<h1>Movie Detail</h1>
<div class="main">
  <div class="top">
    <div class="image">
      <img [src]='image' alt="">
    </div>

    <div class="description">
      <div class="circle">
        <i *ngIf='heart' (click)='addMovie(movie)' (click)='movie.time = dateTime' (click)='heart = !heart'
          class="fas fa-heart-broken fa-3x"></i>
        <i *ngIf='!heart' class="fas fa-heart fa-4x"></i>
      </div>
      <div class="title">{{title}}</div>
      <div class="anoter">
        <div class="date">Date Release:<span> {{date|myDate}}</span></div>
        <div class="genre">
          Genres: <span *ngFor='let item of genre'>{{item.name}} </span>
        </div>
        <div class="country">Country:<span> {{productionCoutry}}</span></div>
        <div class="company" *ngIf='productionCompany'>Production Company:<span> {{productionCompany}}</span></div>
        <div class="homepage">Home Page: <span> <a [href]='homepage'>{{homepage}}</a></span></div>
        <div class="spoken">Spoken:<span> {{spoken}}</span></div>
        <div class="revenue" *ngIf='revenue > 0'>Revenue:<span> {{revenue}}$</span></div>
        <div class="vote">Vote: <span>{{vote}}</span></div>
        <div class="overvew">Overvew:<span> {{overview}}</span></div>
      </div>
      <button (click)='toogle = !toogle'>Trailer</button>
    </div>
  </div>
  <div class="bottom">
    <img [src]='backdrop' alt="">
  </div>
  <div class="trailer" *ngIf='!toogle'>
    <div class="video">
      <i class="fas fa-window-close" (click)='toogle = !toogle'></i>
      <youtube-player videoId={{trailerKey}} suggestedQuality="highres" [height]="400" [width]="700">
      </youtube-player>
    </div>
  </div>
</div>
