.main {
  img {
    width: 100px;
  }

  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(25, 73, 75, 0.781);

  a {
    color: #ffffff;
    text-decoration: none;
  }

  .vote {
    color: yellow;
    margin-left: 10px;
  }

}
