<div class="main">
  <div class="input">
    <input type="text" [(ngModel)]='search' placeholder="find movie">
  </div>
  <div class="movies">
    <div class="movie" *ngFor='let item of movieArray|find:search|slice:(page-1)*pageSize:page*pageSize'>
      <div class="img">
        <img [src]="item.image" alt="">
        <div class="vote">
          {{item.vote}}
          <i class="fas fa-star"></i>
        </div>
      </div>
      <div class="description">
        <div class="title">{{item.title}}</div>
        <div class="genre">{{item.genre}}</div>
        <div class="over">{{item.overview}}</div>
        <div class="date">{{item.date}}</div>
        <div class="btn"><button [routerLink]="['/movie',item.id]">Details</button></div>
      </div>
    </div>
  </div>
  <div class="paginate">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true" [maxSize]="5"
      [collectionSize]="movieArray.length">
    </ngb-pagination>
  </div>

</div>
