@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.main_block{
  width: 100%;
  h3{
    //font-family: 'Varela Round', sans-serif;
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    color: #7c0707;
   }
 .most_popular{
   width: 90%;
   text-align: center;
   border-radius: 10px;
   box-shadow: 1px 0px 10px #23b29570;
   padding: 10px;
   margin: 10px auto;

 }
  .popular_actor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    .actor{
      border: 1px solid #11b093;
      box-shadow: 0px 1px 1px 1px rgb(148, 199, 189);
      width: 130px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      padding: 5px;
      color: #11b093;
      text-align: center;
      background-color: rgb(255, 255, 255);
      img{
        width: 120px;
        border-radius: 5px;
      }
    }
  }

  .another_movie{
    margin: 20px auto;
    display: flex;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    .movie{
      margin: 2px;
      width: 170px;
    }
    .playing{
      padding: 5px;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      box-shadow: 1px 0px 6px 1px #489b88;
      margin: 12px;
      border-radius: 10px;
    }
    img{
      border-radius: 5px;
      width: 150px;
    }
    .movie{
      position: relative;
      padding: 2px;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.123);
      display: flex;
      flex-direction: column;
      align-items: center;
      .vote{
        position: absolute;
        top: 10px;
        right: 20px;
        background-color:#489b88;
        padding: 0 4px;
        border-radius: 4px;
        color: white;
        i{
          color: yellow;
        }
      }
      .title{
        height: 40px;
        font-size: 14px;
        color:#11b093;
      }
    }
  }
  .button{
    text-align: center;
    button{
      width: 100px;
      margin: 5px;
      padding: 5px;
      background: linear-gradient(#0056ff, #033255);
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 5px;
      font-family: 'Righteous', cursive;
      color: #ffffff;
    }
  }
  .movies{
    ngb-rating{
      color: #0f12d9;
      font-size: 18px;
    }
    margin: 0 auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
    .poster{
      margin: 5px;
      background:linear-gradient(#0dc9aa, #ffffff);
      border-radius: 10px;
    }
    img{
     border-radius: 10px;
     width: 200px;
   }
 }
}


