<div class="main_block">
  <div class="trand">
    <div class="title">
      <h3>In Trend</h3>
    </div>
    <div class="button">
      <button (click)='toogle=true'>Week</button>
      <button (click)='toogle=false'>Day</button>
    </div>
    <div class="movie_tranding">
      <div class="movies" *ngIf='toogle'>
        <div class="poster" *ngFor="let item of trandDayArray">
          <img [routerLink]="['/movie',item.id]" [src]="linkImage + item.poster_path" alt="">
          <div class="description">
            <div class="title">{{item.title}}{{item.original_name}}</div>
            <div class="vote">{{item.vote_average}}</div>
            <ngb-rating [rate]="item.vote_average"></ngb-rating>
          </div>
        </div>
      </div>
      <div class="movies" *ngIf='!toogle'>
        <div class="poster" *ngFor="let item of trandWeekArray">
          <img [routerLink]="['/movie',item.id]" [src]="linkImage + item.poster_path" alt="">
          <div class="description">
            <div class="title">{{item.title}}</div>
            <div class="vote">{{item.vote_average}}</div>
            <ngb-rating [rate]="item.vote_average"></ngb-rating>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #h class="another_movie">
    <div class="nowPlaying">
      <h3>now playing</h3>
      <div class="playing">
        <div class="movie" *ngFor="let item of nowPlayingArray">
          <img [routerLink]="['/movie',item.id]" [src]='item.image' alt="">
          <div class="vote">
            <i class="fas fa-star"></i>
            {{item.vote}}
          </div>
          <div class="title">{{item.name}}</div>
        </div>
      </div>
    </div>
    <div class="tv">
      <h3>Popular TV</h3>
      <div class="playing">
        <div class="movie" *ngFor='let item of tvArray'>
          <img [routerLink]="['/tv-detail',item.id]" [src]='item.image' alt="">
          <div class="vote">
            {{item.vote}}
            <i class="fas fa-star"></i>
          </div>
          <div class="title">{{item.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="most_popular">
    <h3>Most Popular Actors</h3>
    <div class="popular_actor">
      <div class="actor" *ngFor='let item of personArray'>
        <img [routerLink]="['/about-person',item.id]" [src]='item.image' alt="">
        <div class="name">{{item.name}}</div>
        <div class="popularity">
          <p>Popularity: {{item.popularity}}</p>
          <p>
            <ngb-progressbar [showValue]="true" type="warning" [value]="item.popularity" [max]="90000">
            </ngb-progressbar>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet>
  <router-outlet>
