*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  background:/*linear-gradient(20deg, rgba(71, 2, 2, 0.39), rgba(69, 3, 95, 0.39)),*/url("image/pexels-tim-mossholder-3612932.jpg");
  background-size: cover;
  color: aliceblue;
}
.main{
  display: flex;
	flex-direction: column;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  .header{
   width: 100%;
   height:450px;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
